DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]      
DATABASE=mysql
SQL_ENGINE=django.db.backends.mysql
SQL_PORT=3306
SQL_DATABASE=djangobd
SQL_ROOT_PASSWORD=1234
SQL_USER=svillav4
SQL_PASSWORD=1234
SQL_HOST=34.60.67.209