{% extends 'pages/base.html' %}

{% block title %} Success {% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Success</div>
        <div class="card-body text-center">
          <h3 class="text-success">Product created</h3>
          <a href="{% url 'index' %}" class="btn btn-primary mt-3">Go back to products</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
